trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - name: IMAGE_BACKEND
    value: ghcr.io/$(GHCR_USERNAME)/$(GHCR_REPO)/server
  - name: IMAGE_FRONTEND
    value: ghcr.io/$(GHCR_USERNAME)/$(GHCR_REPO)/client
  - name: TAG
    value: $(Build.BuildId)

  - group: ghcr-vars    
  - group: vps-vars
  - group: alert-manager
  - group: grafana-vars
  - group: elk-vars

stages:
- stage: Test_App
  displayName: 'Run Unit Tests'
  jobs:
  - job: Test
    steps:
      - checkout: self
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.12'
          addToPath: true

      - script: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        displayName: 'Install Dependencies'

      - script: python -m src.main
        displayName: 'Build App'

      - script: |
          export ENV=dev
          pytest -v
        displayName: 'Run Tests'

- stage: Build_and_Push
  jobs:
  - job: Build
    steps:
    - checkout: self

    - script: |
        echo "$(GHCR_TOKEN)" | docker login ghcr.io -u $(GHCR_USERNAME) --password-stdin
      displayName: 'Login to GitHub Container Registry'

    - script: |
        docker build -t $(IMAGE_BACKEND):$(TAG) -f server/Dockerfile .
        docker push $(IMAGE_BACKEND):$(TAG)
        docker tag $(IMAGE_BACKEND):$(TAG) $(IMAGE_BACKEND):latest
        docker push $(IMAGE_BACKEND):latest
      displayName: 'Build & Push Backend'

    - script: |
        docker build -t $(IMAGE_FRONTEND):$(TAG) -f client/Dockerfile .
        docker push $(IMAGE_FRONTEND):$(TAG)
        docker tag $(IMAGE_FRONTEND):$(TAG) $(IMAGE_FRONTEND):latest
        docker push $(IMAGE_FRONTEND):latest
      displayName: 'Build & Push Frontend'

- stage: Deploy
  dependsOn: Build_and_Push
  jobs:
    - job: Deploy
      steps:
        - checkout: self
        - task: DownloadSecureFile@1
          name: DownloadVPSKey
          inputs:
            secureFile: vps_azure_rsa_key  

        - script: |
            set -e

            if ! command -v ssh >/dev/null; then
              echo "Installing SSH client..."
              sudo apt-get update -y
              sudo apt-get install -y openssh-client
            fi

            mkdir -p ~/.ssh
            chmod 700 ~/.ssh

            chmod 600 $(DownloadVPSKey.secureFilePath)

            ssh-keyscan -p $(SSH_PORT) $(VPS_HOST) >> ~/.ssh/known_hosts
            echo -e "Host $(VPS_HOST)\n\tUser $(VPS_USER)\n\tIdentityFile $(DownloadVPSKey.secureFilePath)\n\tStrictHostKeyChecking no\n\tPort $(SSH_PORT)\n" > ~/.ssh/config
            chmod 600 ~/.ssh/config
            chmod 600 ~/.ssh/known_hosts

            echo "SSH setup done"
          displayName: 'Setup SSH'

        - script: |
            APP_DIR=ml-bank-anomaly-detection

            ssh -p $(SSH_PORT) $(VPS_USER)@$(VPS_HOST) "
              mkdir -p /home/$(VPS_USER)/$APP_DIR/prometheus
              mkdir -p /home/$(VPS_USER)/$APP_DIR/alertmanager
              mkdir -p /home/$(VPS_USER)/$APP_DIR/grafana
              mkdir -p /home/$(VPS_USER)/$APP_DIR/logs
              mkdir -p /home/$(VPS_USER)/$APP_DIR/elk/certs
              mkdir -p /home/$(VPS_USER)/$APP_DIR/elk/init
              mkdir -p /home/$(VPS_USER)/$APP_DIR/elk/entrypoint
              mkdir -p /home/$(VPS_USER)/$APP_DIR/elk/templates/filebeat
              mkdir -p /home/$(VPS_USER)/$APP_DIR/elk/templates/kibana
            "
            scp -P $(SSH_PORT) docker-compose.deploy.yml config.sh $(VPS_USER)@$(VPS_HOST):/home/$(VPS_USER)/$APP_DIR
            scp -P $(SSH_PORT) prometheus.yml alerts.yml $(VPS_USER)@$(VPS_HOST):/home/$(VPS_USER)/$APP_DIR/prometheus/
            scp -P $(SSH_PORT) alertmanager.yml.template $(VPS_USER)@$(VPS_HOST):/home/$(VPS_USER)/$APP_DIR/alertmanager/
            scp -P $(SSH_PORT) grafana-entrypoint.sh $(VPS_USER)@$(VPS_HOST):/home/$(VPS_USER)/$APP_DIR/grafana/
            scp -P $(SSH_PORT) filebeat.yml.template $(VPS_USER)@$(VPS_HOST):/home/$(VPS_USER)/$APP_DIR/elk/templates/filebeat/
            scp -P $(SSH_PORT) kibana.yml.template $(VPS_USER)@$(VPS_HOST):/home/$(VPS_USER)/$APP_DIR/elk/templates/kibana/
            scp -P $(SSH_PORT) generate-certs.sh $(VPS_USER)@$(VPS_HOST):/home/$(VPS_USER)/$APP_DIR/elk/certs/
            scp -P $(SSH_PORT) create-users.sh $(VPS_USER)@$(VPS_HOST):/home/$(VPS_USER)/$APP_DIR/elk/init/
            scp -P $(SSH_PORT) check-elastic-login.sh $(VPS_USER)@$(VPS_HOST):/home/$(VPS_USER)/$APP_DIR/elk/entrypoint/

            ssh -p $(SSH_PORT) $(VPS_USER)@$(VPS_HOST) << EOF
              export APP_DIR=$APP_DIR
              export SMTP_SMARTHOST=$(SMTP_SMARTHOST)
              export SMTP_FROM=$(SMTP_FROM)
              export SMTP_USERNAME=$(SMTP_USERNAME)
              export SMTP_PASSWORD=$(SMTP_PASSWORD)
              export SMTP_TO=$(SMTP_TO)
              export GF_SECURITY_ADMIN_USER=$(GF_SECURITY_ADMIN_USER)
              export GF_SECURITY_ADMIN_PASSWORD=$(GF_SECURITY_ADMIN_PASSWORD)
              export ELASTIC_PASSWORD=$(ELASTIC_PASSWORD)
              export ELASTIC_USERNAME=$(ELASTIC_USERNAME)
              export ELASTIC_HOST=$(ELASTIC_HOST)
              export ELASTIC_FILEBEAT_USER=$(ELASTIC_FILEBEAT_USER)
              export ELASTIC_FILEBEAT_PASS=$(ELASTIC_FILEBEAT_PASS)
              export ELASTIC_KIBANA_USER=$(ELASTIC_KIBANA_USER)
              export ELASTIC_KIBANA_PASS=$(ELASTIC_KIBANA_PASS)
              export KIBANA_ENCRYPTION_KEY=$(KIBANA_ENCRYPTION_KEY)
              export KIBANA_REPORTING_KEY=$(KIBANA_REPORTING_KEY)
              export KIBANA_SECURITY_KEY=$(KIBANA_SECURITY_KEY)

              /bin/bash /home/$(VPS_USER)/$APP_DIR/config.sh
              /bin/bash /home/$(VPS_USER)/$APP_DIR/elk/certs/generate-certs.sh

              mv /home/$(VPS_USER)/$APP_DIR/docker-compose.deploy.yml /home/$(VPS_USER)/$APP_DIR/docker-compose.yml

              rm -rf /home/$(VPS_USER)/$APP_DIR/elk/filebeat.yml.template
              rm -rf /home/$(VPS_USER)/$APP_DIR/elk/kibana.yml.template
              rm -rf /home/$(VPS_USER)/$APP_DIR/alertmanager/alertmanager.yml.template
              docker logout ghcr.io
              echo "$(GHCR_TOKEN)" | docker login ghcr.io -u $(GHCR_USERNAME) --password-stdin
              docker compose -f /home/$(VPS_USER)/$APP_DIR/docker-compose.yml pull
              docker compose -f /home/$(VPS_USER)/$APP_DIR/docker-compose.yml up -d --build --force-recreate
            EOF
          displayName: 'Deploy App'
