services:
  server:
    build:
      context: .
      dockerfile: ./Dockerfile.server
    ports:
      - 8000:8000
  
  client:
    build:
      context: .
      dockerfile: ./Dockerfile.client
    ports:
      - 8501:8501
    environment:
      - SERVER_HOST=server
      - SERVER_PORT=8000
    depends_on:
      - server